3DMPPE_POSENET_RELEASE/common/detectors/yolo/weights/*
3DMPPE_POSENET_RELEASE/demo_results/*
3DMPPE_POSENET_RELEASE//output/model_dump/*
dance_videos/*
danceprimitives/*
danceprimitives_trial/*
MyNao/motion_glance/*
*.pdf
*.pptx
*.png
*.npy
*.mp4
*.wav
*.tar
*.weights
*.74
*.txt
.jpg
*.pt