3DMPPE_POSENET_RELEASE/common/detectors/yolo/weights/*
3DMPPE_POSENET_RELEASE/demo_results/*
3DMPPE_POSENET_RELEASE//output/model_dump/*
dance_videos/*
danceprimitives/*
MyNao/motion_glance/*
*.png
*.npy
*.mp4
*.wav
*.pptx
*.pdf
*.tar
*.weights
*.74